/*Nav Bar*/
nav{
  border-bottom:solid  #DAA49A 3px;
  font-weight: bold;
  height: 57px;
  }

  header{
  background-color: white;
  height: 57px;
  width:100%;
}



/* Makes Nav Bar stick */
.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 99;
}

.navbar-brand{
  font-size:26px;
  padding: 0px 5px 0px 9px;
}

.nav-item{
  font-size: 24px;
}

input[type="search"] {
  font-style: italic;
  border:solid  #5DB7DE 1.5px;
}

button[type="submit"] {
  color: black;
  font-weight:bold;
  border:solid   #DAA49A 1.5px;
  background: white;
}





body{     
 *#CCD7C5*//*#EFD2CB*/; 
  font-family: 'Indie Flower', cursive;
  background: #5DB7DE; /*colour being used*/
}

h1{
  margin: 70px 0px 8px 0px;
  text-align: center;
  font-weight: bolder;
  font-size: 105px;
}

h5{
 color: #DAA49A;
}
article{
  text-align: center;
  font-weight: 900;
  margin: 0px 0px 0px 0px;
  font-size: 40px;
  color:  #CCD7C5;
  }

h5{
  font-weight: bolder;
  text-align:center;
}

.container{
  margin: 70px 70px 25px 0px;
  text-align:; center;
  padding: 20px 20px 20px 20px;
  color: #DAA49A;
}


.box
{
  width:400px;
  height:600px;
  margin:5px 0px 5px 0px;
  background-color:#5DB7DE;
  background-size:cover;
  position:relative;
  overflow:hidden;
  color: white;
  font-family: 'Indie Flower', cursive;
   border-radius: 40px;
  border-color: #DAA49A;
  border-width: 7px;
  border-style: solid;
  
}


p{color: #DAA49A;
}


mark.text {
    color: white;
    background-color: #5DB7DE;
}

mark.author {
    color: white;
    font-weight: bold;
    background-color: #5DB7DE;
    
}



footer{
  background-color: white;
    border-top:solid  #DAA49A 3px;
  height: 170px;
  width:100%;
}

.footer{
  color: #CCD7C5;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 0px 0px 0px;
  text-align: center;
}

.icons{
  text-align:center;
  padding: 32px 0 0 0;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-snapchat {
    background: #fffc00;
    color: white;
}

.fa-google {
    background: #db3236;
    color: white;
}

.fa-youtube {
    background: white;
    color: white;
width:10px;}

.fa{
    border-radius: 40%;
}

